/* RESPONSIVE NAV */

* {
	  box-sizing: border-box;
}

header {
	  background: #181818;
	  height: 100px;
	  padding-left: 0px;
	  padding-right: 0px;
}

.inner {
	  max-width: 1000px;
	  margin: 0 auto;
	  padding: 0px 20px;
	  position: relative;
}

/*.logo {
	  text-decoration: none;
	  color: #777;
	  font-weight: 800;
	  font-size: 30px;
	  line-height: 40px;
}

h1 {
	  text-align: center;
	  width: 100%;
	  margin-top: 120px;
	  color: #eee;
	  font-weight: 800;
	  font-size: 40px;
}*/

nav > ul {
  	float: right;
}

nav > ul > li {
  	text-align: center;
	  line-height: 40px;
	  margin-left: 70px;
}

nav > ul li ul li {
	  width: 100%;
  	text-align: left;
}

nav ul li:hover {
	  cursor: pointer;
	  position: relative;
}
nav ul li:hover > ul {
  	display: block;
}
nav ul li:hover > a {
	  color: #880e4f;
}
nav > ul > li > a {
	  cursor: pointer;
	  display: block;
  	outline: none;
  	width: 100%;
	  text-decoration: none;
}

nav > ul > li {
  	float: left;
}
nav a {
	  color: white;
}
nav > ul li ul {
  	display: none;
  	position: absolute;
  	left: 0;
	  top: 100%;
  	width: 100%;
	  z-index: 2000;
}
nav > ul li ul li > a {
	  text-decoration: none;
}

[type="checkbox"], label {
	  display: none;
}

@media screen and (max-width: 768px) {
	nav ul {
		  display: none;
	}

	label {
  		display: block;
  		background: #222;
		  width: 40px;
  		height: 40px;
  		cursor: pointer;
		  position: absolute;
		  right: 20px;
  		top: 0px;
	}
  
label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #777;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		  right: 0px;
		  left: 0px;
		  top: 50px;
		  background-color:#e91e63;
		  width:100%;
	}

	nav a {
		  color: #777;
	}

	nav ul li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #222;
		  text-indent: 20px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		  float: none;
	}
  
	nav > ul li ul {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}
}




/* OLD CSS */
html, body {
    margin: 0px auto;
	height:100%;
	font-family:'Raleway', 'Arial', sans-serif;
	font-size:14px;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

.content {
	margin:10% 0px;
}
/*
nav ul, footer ul {
	padding: 0px;
    	list-style: none;
	text-transform:uppercase;
	font-weight:700;
	font-size: 1.8em;
	line-height: 1.8em;
	margin:0px;
}
	
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
	
nav ul li a {
    text-decoration: none;
    color: #fff;
}
*/	
a{
    text-decoration:none;
}

a:hover {
	color:#880E4F;
	text-decoration: none;
}

footer a:hover {
	color: #000000;
}

a li.call span{
  position: relative;
  content: 'Call'
}
a:hover li.call span{
  display: none;
}
a:hover li.call:after{
  content: '513-580-9667';
  font-family:'Open Sans', sans-serif;
  font-weight:300;
}
	
h1 {
    font-size: 2.5em;
	font-weight:400;
	margin-top:0px;
}
	
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}

footer, header, main {
	padding-top:25px;
	padding-bottom:25px;
}

header {
	background-color:#e91e63;
	border-bottom:1px solid #D81B60;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	padding-left:0px;
	padding-right:0px;
}

main {
	display:block;
}

footer {
	bottom: 0;
	height: .8em;
	width: 90%;
	left: 0;
	position: absolute;
	background-color: #ffebf1;
	color:#ffffff;
}

footer a {
	color: #ec008c;
}

h2 {
	font-size:1.5em;
	font-weight:400;
}

#team {
	margin-top:20px;
}

#team ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#team ul li {
	width:193px;
	height:260px;
	float:left;
	margin:0px 20px 20px 0px;
}

#team ul li a.img1 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/865/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img2 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/875/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img3 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/870/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img4 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/860/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img5 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/880/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a:hover span {
	width:193px;
	height:240px;
	background-color:rgba(255, 214, 0, 0.6);
}

#team ul li a span {
	display:block;
	width:193px;
	height:240px;
}

ul.posts li, ul.posts {
	margin:0px;
	padding:0px;
	font-size:1em;
	list-style:none;
}



/* 550px, 750px */
@media (min-width:30em) {
html, body {
    margin: 0px auto;
	height:100%;
	font-family:'Raleway', 'Arial', sans-serif;
	font-size:14px;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

.content {
	margin:10% 0px;
}
	
nav ul, footer ul {
	padding: 0px;
    	list-style: none;
	text-transform:uppercase;
	font-weight:700;
	font-size: 2.2em;
	line-height: 2.2em;
	margin:0px;
}
	
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
	
nav ul li a {
    text-decoration: none;
    color: #fff;
}
	
a{
    text-decoration:none;
}

a:hover {
	color:#880E4F;
	text-decoration: none;
}

footer a:hover {
	color: #000000;
}

a li.call span{
  position: relative;
  content: 'Call'
}
a:hover li.call span{
  display: none;
}
a:hover li.call:after{
  content: '513-580-9667';
  font-family:'Open Sans', sans-serif;
  font-weight:300;
}
	
h1 {
    font-size: 2.2em;
	font-weight:400;
	margin-top:0px;
}
	
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}

footer, header, main {
	padding-top:25px;
	padding-bottom:25px;
}

header {
	background-color:#e91e63;
	border-bottom:1px solid #D81B60;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	padding-left:0px;
	padding-right:0px;
}

main {
	display:block;
	padding-left:30px;
	padding-right:30px;
}

footer {
	bottom: 0;
	height: .8em;
	width: 80%;
	left: 0;
	position: absolute;
	background-color: #ffebf1;
	color:#ffffff;
	padding-left:30px;
	padding-right:30px;
}

footer a {
	color: #ec008c;
}

h2 {
	font-size:1.5em;
	font-weight:400;
}

#team {
	margin-top:20px;
}

#team ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#team ul li {
	width:193px;
	height:260px;
	float:left;
	margin:0px 20px 20px 0px;
}

#team ul li a.img1 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/865/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img2 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/875/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img3 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/870/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img4 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/860/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img5 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/880/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a:hover span {
	width:193px;
	height:240px;
	background-color:rgba(255, 214, 0, 0.6);
}

#team ul li a span {
	display:block;
	width:193px;
	height:240px;
}

ul.posts li, ul.posts {
	margin:0px;
	padding:0px;
	font-size:1em;
	list-style:none;
}
}

/* 1000px */
@media (min-width:1000px) {
html, body {
    margin: 0px auto;
	height:100%;
	font-family:'Raleway', 'Arial', sans-serif;
	font-size:14px;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

.content {
	margin:10% 0px;
}
	
nav ul, footer ul {
	padding: 0px;
    	list-style: none;
	text-transform:uppercase;
	font-weight:700;
	font-size: .85em;
	margin:0px;
}
	
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
	
nav ul li a {
    text-decoration: none;
    color: #fff;
}
	
a{
    text-decoration:none;
}

a:hover {
	color:#880E4F;
	text-decoration: none;
}

footer a:hover {
	color: #000000;
}

a li.call span{
  position: relative;
  content: 'Call'
}
a:hover li.call span{
  display: none;
}
a:hover li.call:after{
  content: '513-580-9667';
  font-family:'Open Sans', sans-serif;
  font-weight:300;
}
	
h1 {
    font-size: 2.2em;
	font-weight:400;
	margin-top:0px;
}
	
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}

footer, header, main {
	padding:25px 20%;
}

header {
	background-color:#e91e63;
	border-bottom:1px solid #D81B60;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

main {
	display:block;
}

footer {
	bottom: 0;
	height: .8em;
	width: 60%;
	left: 0;
	position: absolute;
	background-color: #ffebf1;
	color:#ffffff;
}

footer a {
	color: #ec008c;
}

h2 {
	font-size:1.5em;
	font-weight:400;
}

#team {
	margin-top:20px;
}

#team ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#team ul li {
	width:193px;
	height:260px;
	float:left;
	margin:0px 20px 20px 0px;
}

#team ul li a.img1 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/865/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img2 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/875/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img3 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/870/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img4 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/860/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a.img5 {
	display:block;
	width:193px;
	height:240px;
	background: url(http://www.fillmurray.com/880/1040) no-repeat center;
	background-size:auto 100%;
}

#team ul li a:hover span {
	width:193px;
	height:240px;
	background-color:rgba(255, 214, 0, 0.6);
}

#team ul li a span {
	display:block;
	width:193px;
	height:240px;
}

ul.posts li, ul.posts {
	margin:0px;
	padding:0px;
	font-size:1em;
	list-style:none;
}
}
