<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>@happybana</title>
<meta name="description" content="Anna Willoughby's GitHub Playground">
<meta name="keywords" content="">

<!-- Mobile viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<link rel="shortcut icon" href="images/favicon.ico"  type="image/x-icon">

<!-- CSS-->
<!-- Google web fonts. You can get your own bundle at http://www.google.com/fonts. Don't forget to update the CSS accordingly!-->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="js/flexslider/flexslider.css">
<link rel="stylesheet" href="css/colorblocks-style.css">

<!-- end CSS-->
    
<!-- JS-->
<script src="js/libs/modernizr-2.6.2.min.js"></script>
<!-- end JS-->


<!-- columns demo style. DELETE IT! -->
<style type="text/css">
<!--

#columnsdemo .grid_1,
#columnsdemo .grid_2,
#columnsdemo .grid_3,
#columnsdemo .grid_4,
#columnsdemo .grid_5,
#columnsdemo .grid_6,
#columnsdemo .grid_7,
#columnsdemo .grid_8,
#columnsdemo .grid_9,
#columnsdemo .grid_10,
#columnsdemo .grid_11,
#columnsdemo .grid_12 {
text-align: center;
margin-top:20px;
padding:20px;
background:#d5d0f5;
border: 1px solid #887dc2
}
-->
</style>
</head>

<body id="home">

  
<!-- header area -->
    <header class="wrapper clearfix">
		       
        <div id="banner">        
        	<div id="logo"><a href="colorblocks.html">@happybana</a></div> 
        </div>
        
        <!-- main navigation -->
        <nav id="topnav" role="navigation">
        <div class="menu-toggle"><img src="images/menu-btn.png" width="30" height="30"><a href="http://www.linkedin.com/in/happybana" target="_blank"><img src="images/linked-in.png" border="0"></a> <a href="http://www.dribbble.com/happybana" target="_blank"><img src="images/dribbble.png" border="0"></a> <a href="http://www.twitter.com/happybana" target="_blank"><img src="images/twitter.png" border="0"></a> <a href="http://www.behance.com/happybana" target="_blank"><img src="images/behance.png" border="0"></a></div>  
        <ul class="srt-menu" id="menu-main-navigation">
            <li><a href="colorblocks.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="cv.html">CV</a></li>
	</ul>     
	</nav><!-- end main navigation -->
  
    </header><!-- end header -->
    
    {{ content }}
    
    </body>
    
    </html>
